.footer_li{
    background: white;
    display: inline-block;
    width: 24px;
}
.social_linkss{
    padding: 10px;
}
.social_linkss li{
    display: inline-block;
    padding: 5px;
    border-radius: 33%;
    padding: 2px;
    margin-left: 6px;
    margin-right: 6px;
    /* box-shadow: 0 0 5px 15px yellow,
    0 0 10px 30px yellow; */
}
.social_linkss li:hover{
    box-shadow: 0 0 16px 9px cyan, 0 0 7px 9px #98fff5;
    background: white;
    padding: 2px;
    border-radius: 7px;
}
.social_linkss li a img{
    width: 30px;
}